# Mac
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# others
*.swp
!.gitkeep

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# Don't check in the generated Xcode project.
*.xcodeproj/
.swiftpm/

# Carthage
Carthage/Build
Carthage/Checkouts

# Command-line build
build/

